<div class="content header" id="header"> 
    <h2 class="title">Hola, soy Alvaro Ponce</h2>
    <p>Soy un apasionado por de los ordenadores que aspira a poder decicarse a la programación web.</p>
    <div class="btn-home">
    </div>
</div>

<div class="content about" id="about">
    <h2 class="title">About me</h2>
    <p>Llevo programando desde hace un par de años y aqui sigo aprendiendo cada dia más.</p>
    <div class="imgenlace">
        <p><a href=""><img src="../../../assets/images/link.jpg" alt=""></a></p>
        <p><a href="https://github.com/alvaroponrod"><img src="../../../assets/images/git.jpg" alt=""></a></p>
    </div>

</div>

<div class="content sau" id="work">

    <h2 class="title" >MY WORK</h2>
    <p>Aqui presento un poco de lo que he hecho en estos años que llevo programando.</p>

    <div class="box-container">
        <div class="box">
            <a href="https://github.com/"><img src="../../../assets/images/OIP.jpg" alt=""></a>
        </div>
        
    </div>
</div>  